@using LaTranca.Models
@model LoginViewModel
@{
    ViewBag.Title = "LoginLaTranca";
    Layout = "~/Views/Shared/_LayoutLaTranca.cshtml";
}

<link href="~/Content_LaTranca/css/animate1.css" rel="stylesheet" />
<link href="~/Content_LaTranca/css/style1.css" rel="stylesheet" />

<!-- Slider Start -->
<section id="global-header">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="block">
                    <h1><b>La Tranca siempre a su servicio</b></h1>
                    <p>El mejor café en el mejor lugar.</p>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- login form start -->

<section id="contact-form" style="padding-top : 30px">
    <div class="container">
        <div class="row">
            <div class="col-md-1"></div>
            <div class="col-md-5">
                <h1>
                    Iniciar Sesion
                </h1>
            </div>
        </div>
        <div class="row">
            <div class="col-md-4"></div>
            <div class="col-md-4 col-sm-12">
                <div class="block">
                    @using (Html.BeginForm("Login", "Account", new { ReturnUrl = ViewBag.ReturnUrl }, FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
            {
                        @Html.AntiForgeryToken()
                        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                        <div class="form-group">
                                @Html.TextBoxFor(m => m.Email, new { @class = "form-control", @placeholder = "Ingrese su usuario" })
                                @Html.ValidationMessageFor(m => m.Email, "", new { @class = "text-danger" })
                           
                        </div>
                        <div class="form-group">
                                @Html.PasswordFor(m => m.Password, new { @class = "form-control", @placeholder = "Ingrese su usuario" })
                                @Html.ValidationMessageFor(m => m.Password, "", new { @class = "text-danger" })
                           
                        </div>
                        <div class="form-group">
                            <div class="col-md-offset-2 col-md-10">
                                <div class="checkbox">
                                    @Html.CheckBoxFor(m => m.RememberMe)
                                    @Html.LabelFor(m => m.RememberMe)
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            @Html.ActionLink("Suscribirse", "RegistrarUsuarioLaTranca","Account")
                        </div>
                        <div class="form-group">
                            <button class="btn btn-default" type="submit">Entrar</button>
                        </div>
                    }
                    @*<form>
                        <div class="form-group">
                            <input id="usuario" type="text" class="form-control" placeholder="Ingrese su usuario">
                        </div>
                        <div class="form-group">
                            <input id="contraseña" type="password" class="form-control" placeholder="Contraseña">
                        </div>
                        <form>
                        </form>
                    </form>*@
                </div>
            </div>
            <div class="col-md-4"></div>
        </div>

    </div>
</section>

@*<section id="contact-form">
    <div class="container">
        <div class="row">
            <div class="col-md-4"></div>
            <div class="col-md-4 col-sm-12">
                <div class="block">


                </div>
            </div>
            <div class="col-md-4"></div>
        </div>

    </div>
</section>*@

